<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial">Inversión Inicial</label>
      <input
        type="number"
        id="initial"
        name="initial"
        [(ngModel)]="enteredInitial"
      />
    </p>
    <p>
      <label for="anual">Inversión Anual</label>
      <input type="number" id="anual" name="anual" [(ngModel)]="enteredAnual" />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected">Reembolso Esperado</label>
      <input
        type="number"
        id="expected"
        name="expected"
        [(ngModel)]="enteredExpected"
      />
    </p>
    <p>
      <label for="duracion">Duracion</label>
      <input
        type="number"
        id="duracion"
        name="duracion"
        [(ngModel)]="enteredDuration"
      />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
